* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

div {

}

.card {
    width: 30%;
    background-color: white;
    margin: 3% 1% 2% 2%;
    border-radius: 3%;
    box-shadow: 2px 5px #8888;
}

img {
    width: 100%;
}

#section-card {
    display: flex;
    flex-wrap: wrap;
    margin: 0 20%;
}

body {
    background-color: rgba(128, 128, 128, 0.179);
}